body {
	background-color:DarkBlue;
	color:White;
	font-family:Highbush;
	margin:10%;
	text-align:center;
}

a {
	color:White;
	font-size:200%;
}	

.heading {
	font-size:500%;
}

p {
	font-size:200%
}

@font-face {
	font-family: "Highbush";
	src: url("Fonts/Highbush.ttf");
}

.game-image-title {
	width: 50%;
}
