@font-face {
	font-family: "Highbush";
	src: url("Fonts/Highbush.ttf");
}

body {
	background-color:DarkBlue;
	color:White;
	font-family:Highbush;
	font-size:150%;
	margin:10%;
	text-align:center;
}

a {
	color:White;
}	

button {

	/* From https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link. */
	background:none!important;
	color:inherit;
	border:none;
	padding:0!important;
	font: inherit;
	/* border is optional */
	border-bottom:2px solid White;
	cursor: pointer;

	background-color:DarkBlue;
	color:White;
	font-family:Highbush;
}

input {
	font-family:Highbush;
}

pre {
	font-family:Highbush;
}

select {
	font-family:Highbush;
}

.game-image-title {
	margin: 16px;
	width: 50%;
}

.game-image-title-invert {
	margin: 16px;
	width: 50%;
	filter: invert(100%)
}

.heading {
	font-size:500%;
}
